# Ignore Node.js and React build files
node_modules/
*.log

# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore editor-specific files
.vscode/
.idea/

# Ignore Docker-specific files
.devcontainer/
.dockerignore
Dockerfile
docker-compose.yaml

# Ignore environment-specific files
.env

# Ignore log files
logs/
*.log

.git
.editorconfig
.gitignore
.pre-commit-config.yaml
.github/
ruff.toml
.eslintrc.json

LICENSE.md
