# Ignore Node.js and React build files
node_modules/
build/
*.log

# Ignore Python-related files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore editor-specific files
.vscode/
.idea/

# Ignore Docker-specific files
.devcontainer/
.dockerignore
Dockerfile
docker-compose.yaml
# config.json

# Ignore environment-specific files
.env

# Ignore log files
logs/
*.log

.git
.editorconfig
.gitignore
.pre-commit-config.yaml
.github/

LICENSE.md




